/* -------------------------------------------------------------------- */
/* ----------------------------- main info ---------------------------- */
/* -------------------------------------------------------------------- */
.blog-detail-info > .info
	{
	color: #999;
	display: flex;
	font-size: calc(1em - 2px);
	justify-content: flex-end;
	}
.blog-detail-info > .info > *:not(:last-child) {margin-right: 10px}

.blog-detail-info > .text
	{
	margin-top: 10px;
	}
/* -------------------------------------------------------------------- */
/* ----------------------------- comments ----------------------------- */
/* -------------------------------------------------------------------- */
.blog-detail-comments
	{
	border-top: 1px solid #F0F0F0;
	font-size: calc(1em - 2px);
	padding-top: 10px;
	margin-top: 10px;
	width: 70%;
	}
.blog-detail-comments > .item
	{
	border-bottom: 1px solid #F0F0F0;
	padding-bottom: 10px;
	margin-bottom: 10px;
	}
/* -------------------------------------------------------------------- */
/* -------------------------- add form button ------------------------- */
/* -------------------------------------------------------------------- */
.blog-detail-add-comments-form-call-button
	{
	border: 1px solid #F0F0F0;
	border-radius: 2px;
	color: #959494;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	outline: none;
	padding: 2px 10px;
	margin-top: 20px;
	transition: .3s;
	width: auto;
	}
.blog-detail-add-comments-form-call-button:hover,
.blog-detail-add-comments-form-call-button:active,
.blog-detail-add-comments-form-call-button:focus
	{
	background-color: #F0F0F0;
	}
/* -------------------------------------------------------------------- */
/* ----------------------------- add form ----------------------------- */
/* -------------------------------------------------------------------- */
.blog-detail-add-comments-form
	{
	background-color: #F0F0F0;
	display: none;
	margin-top: 20px;
	padding: 10px;
	width: 35%;
	}
.blog-detail-add-comments-form textarea
	{
	border: 1px solid #C2C2C2;
	border-radius: 2px;
	display: block;
	padding: 3px;
	resize: none;
	width: calc(100% - 3px - 5px);
	height: 100px;
	}
.blog-detail-add-comments-form textarea:focus {outline: none}

.blog-detail-add-comments-form button
	{
	background-color: #FFF;
	border: 1px solid #C2C2C2;
	border-radius: 2px;
	color: #959494;
	cursor: pointer;
	font-weight: bold;
	margin:  5px 0 0 calc(100% - 100px);
	outline: none;
	padding: 3px 0;
	text-align: center;
	transition: .3s;
	width: 100px;
	}
/* -------------------------------------------------------------------- */
/* ------------------------------- media ------------------------------ */
/* -------------------------------------------------------------------- */
@media (max-width: 991px)
	{
	.blog-detail-comments          {width: 100%}
	.blog-detail-add-comments-form {width: calc(100% - 10px * 2)}
	}